.upg {
	min-height: 120px;
	width: 120px;
	margin: 3px;
	border-radius: 12px;
	border: 3px solid;
	border-color: rgba(0, 0, 0, 0.25);
	font-size: 10px;
	overflow: visible;
}

.upgDone {
	background-image: repeating-linear-gradient(
		-49deg,
		#88df6b,
		#88df6b 25px,
		#7dd75f 25px,
		#7dd75f 50px
	);
}

.upg:hover {
	box-shadow: 0 0 10px var(--points);
	transform: scale(1.1, 1.1);
	z-index: 7;
}

.achievement {
	height: 110px;
	width: 110px;
	border-radius: 12px;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.25);
	font-size: 12px;
	color: white;
	text-shadow: 0 0 2px black;
	font-weight: bold;
	font-family: "Inconsolata", monospace;
}

.achievement:hover {
	box-shadow: 0 0 10px var(--points);
	transform: scale(1.1, 1.1);
	z-index: 7;
}

.achievementDone {
	background-image: repeating-linear-gradient(
		-49deg,
		#88df6b,
		#88df6b 25px,
		#7dd75f 25px,
		#7dd75f 50px
	);
}

.buyable {
	height: 200px;
	width: 200px;
	border-radius: 16px;
	border: 3px solid;
	border-color: rgba(0, 0, 0, 0.25);
	font-size: 10px;
	position: relative;
}

.buyableDone {
	background-image: repeating-linear-gradient(
		-49deg,
		#88df6b,
		#88df6b 25px,
		#7dd75f 25px,
		#7dd75f 50px
	);
}

.milestone {
	width: 100%;
	min-width: 450px;
	padding-left: 5px;
	padding-right: 5px;
	height: 80px;
	background-color: #bf8f8f;
	border: 3px solid;
	border-radius: 12px;
	border-color: rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0, 0.5);
}

.milestoneDone {
	width: 100%;
	min-width: 450px;
	padding-left: 5px;
	padding-right: 5px;
	background-image: repeating-linear-gradient(
		-49deg,
		#88df6b,
		#88df6b 25px,
		#7dd75f 25px,
		#7dd75f 50px
	);
	height: 80px;
	background-color: #6bc14f;
	border: 3px solid;
	border-radius: 12px;
	border-color: rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0, 0.5);
}

.challenge {
	background-color: #bf8f8f;
	border: 4px solid;
	margin: 10px;
	border-color: rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0, 0.5);
	width: 300px;
	height: 300px;
	font-size: 15px;
	border-radius: 16px;
}

.challengeDone {
	background-image: repeating-linear-gradient(
		-49deg,
		#88df6b,
		#88df6b 25px,
		#7dd75f 25px,
		#7dd75f 50px
	);
}

.challenge.canComplete {
	background-color: #f1be11;
}

/* Infoboxes */
.story {
	width: 600px;
	max-width: 95%;
	border-bottom: solid 4px;
	border-radius: 8px;
	margin-bottom: 8px;
	text-align: left;
}

.story-title {
	text-align: left;
	font-size: 24px;
	color: black;
	cursor: pointer;
	border: none;
	padding: 2px;
	border-radius: 8px 8px 0 0;
}

.story-toggle {
	border: none;
	background: black;
	color: white;
	font-size: 20px;
	pointer-events: none;
	width: 1em;
	display: inline-block;
}

.story-text {
	padding: 2px;
	border: solid 4px;
	border-color: inherit;
	border-radius: inherit;
	border-top-left-radius: 0;
	margin-bottom: -2px;
}

/* Tiles are gridables */
.tile {
	height: 80px;
	width: 80px;
	border-radius: 15%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.25);
	font-size: 10px;
	overflow: visible;
}

.tile.can:hover {
	box-shadow: 0 0 10px var(--points);
	transform: scale(1.1, 1.1);
	z-index: 7;
}

.upgBig {
	height: 200px;
	width: 200px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.25);
}

/* Used for respec button and similar */
.longUpg {
	height: 50px;
	width: 150px;
	background: var(--points);
	border-radius: 8px;
	border: 3px solid;
	border-color: rgba(0, 0, 0, 0.25);
	font-size: 14px;
}

.smallUpg {
	height: 40px;
	width: 40px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.25);
}
