#overlayIcons {
	position: absolute;
	top: 8px;
	left: 8px;
	display: block;
	width: 50px;
	background-color: var(--color);
	border-radius: 12px;
	padding: 6px;
	padding-left: 2px;
	padding-right: 2px;
	border: 4px solid rgba(0, 0, 0, 0.25);
}

#overlayIcons img {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

#overlayIcons img {
	object-fit: cover;
	display: block;
}

#optionWheel img:hover {
	transform: rotate(360deg) scale(1.2);
	cursor: pointer;
}

#info {
	font-size: 35px;
	color: #7300ff;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #7300ff;
	width: 44px;
	height: 44px;
}
#info:hover {
	transform: scale(1.2);
	text-shadow: 5px 0 10px #7300ff, -3px 0 12px #7300ff;
	cursor: pointer;
}

#discord img:hover {
	transform: rotate(360deg) scale(1.2);
	cursor: pointer;
}

#version {
	position: absolute;
	right: 10px;
	top: 4px;
	text-align: right;
	color: var(--points);
	text-shadow: 0 0 10px var(--points);
	cursor: pointer;
}

#version:hover {
	transform: scale(1.2);
}

a {
	color: #007fff;
	text-decoration-line: none;
	cursor: pointer;
}

.link {
	display: block;
	font-size: 20px;
	color: #41f5f5;
	cursor: pointer;
	font-family: "Lucida Console", "Courier New", monospace;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #02f2f2;
	text-decoration: none;
}

.link:hover {
	transform: scale(1.2, 1.2);
	text-shadow: 5px 0 10px #02f2f2, -3px 0 12px #02f2f2;
}

.opt {
	height: 100px;
	width: 100px;
	margin: 5px;
	border-radius: 12px;
	border: 3px solid;
	background-color: var(--color);
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.opt:hover {
	box-shadow: 5px 0 10px var(--color), -3px 0 12px var(--color);
	transform: scale(1.2, 1.2);
}

.fullreset {
	font-weight: bolder;
	color: red;
}

.on {
	color: green;
}

.off {
	color: red;
}

.theme {
	background: rgba(0, 0, 0, 0.125);
	padding: 2px;
	color: var(--points);
	border-radius: 4px;
}
