/* Tree nodes, button nodes, and side layers */
.treeNode {
	height: 100px;
	width: 100px;
	border: var(--hqProperty1);
	border-color: rgba(0, 0, 0, 0.125);
	border-radius: 50%;
	box-shadow: var(--hqProperty2a);
	font-size: 40px;
	font-family: "Lucida Console", "Courier New", monospace;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: var(--hqProperty3);
	padding: 0;
	margin: 0 10px 0 10px;
}

@keyframes rainbow {
	100%,
	0% {
		background-color: rgb(255, 0, 0);
	}
	8% {
		background-color: rgb(255, 127, 0);
	}
	16% {
		background-color: rgb(255, 255, 0);
	}
	25% {
		background-color: rgb(127, 255, 0);
	}
	33% {
		background-color: rgb(0, 255, 0);
	}
	41% {
		background-color: rgb(0, 255, 127);
	}
	50% {
		background-color: rgb(0, 255, 255);
	}
	58% {
		background-color: rgb(0, 127, 255);
	}
	66% {
		background-color: rgb(0, 0, 255);
	}
	75% {
		background-color: rgb(127, 0, 255);
	}
	83% {
		background-color: rgb(255, 0, 255);
	}
	91% {
		background-color: rgb(255, 0, 127);
	}
}

.nodeLabel {
	font: inherit;
	font-family: inherit;
}

.treeButton {
	height: 100px;
	width: 100px;
	border: var(--hqProperty1);
	border-color: rgba(0, 0, 0, 0.125);
	border-radius: 33%;
	box-shadow: var(--hqProperty2a);
	font-size: 40px;
	font-family: "Lucida Console", "Courier New", monospace;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: var(--hqProperty3);
	padding: 0;
}

.smallNode {
	height: 50px;
	width: 50px;
	font-size: 25px;
	margin-bottom: 5px;
}

.resetNotify {
	box-shadow: var(--hqProperty2a), 0 0 8px #ffffff;
}

.treeNode.can:hover {
	transform: scale(1.15, 1.15);
	box-shadow: var(--hqProperty2a), 0 0 20px var(--points);
}

.notify {
	transform: scale(1.05, 1.05);
	border-color: rgba(0, 0, 0, 0.125);
	box-shadow: var(--hqProperty2a), 0 0 20px #ff0000;
}

.mark {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	z-index: 10000;
	margin-left: 0.9em;
	margin-right: 0.9em;
	margin-bottom: 1.2em;
	border-right: 0.3em solid transparent;
	border-bottom: 0.7em solid transparent;
	border-left: 0.3em solid transparent;
	font-size: 10px;
	overflow: auto;
	pointer-events: none;
}

.star {
	position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	z-index: 10000;
	margin-left: 0.9em;
	margin-right: 0.9em;
	margin-bottom: 1.2em;
	border-right: 0.3em solid transparent;
	border-bottom: 0.7em solid #ffcc00;
	border-left: 0.3em solid transparent;
	font-size: 10px;
	pointer-events: none;
}

.star:before,
.star:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 0.6em;
	left: -1em;
	border-right: 1em solid transparent;
	border-bottom: 0.7em solid #ffcc00;
	border-left: 1em solid transparent;
	transform: rotate(-35deg);
}

.star:after {
	transform: rotate(35deg);
}
